[submodule "evmone"]
	path = third_party/evmone
	url = https://github.com/erigontech/zvm1.git
	branch = master
[submodule "intx"]
	path = third_party/intx
	url = https://github.com/chfast/intx.git
	branch = master
[submodule "ethereum-tests"]
	path = third_party/ethereum-tests
	url = https://github.com/ethereum/tests.git
[submodule "eest-fixtures"]
	path = third_party/eest-fixtures
	url = https://github.com/erigontech/eest-fixtures
